<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{layout/common :: head}"></th:block>
    <title>Springboot Workshop Dashboard</title>
</head>
<body>
<div class="container-fluid">
    <div class="d-flex justify-content-center">
        <div class="col-sm-12 col-md-10 col-lg-8">
            <th:block th:insert="~{layout/common :: nav}"></th:block>
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item" aria-current="page"><a href="/board">Board</a></li>
                            <li class="breadcrumb-item active" aria-current="page">List</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-right">
                    <div class="form-group">
                        <a class="btn btn-primary" href="/board/create">create</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">---</th>
                            <th scope="col">---</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <th:block th:insert="~{layout/common :: copy}"></th:block>
</div>
​
<th:block th:insert="~{layout/common :: script}"></th:block>
</body>
</html>




