<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{layout/common :: head}"></th:block>
    <title>Springboot Workshop Dashboard</title>
</head>
<body>
<div class="container-fluid">
    <div class="d-flex justify-content-center">
        <div class="col-sm-12 col-md-10 col-lg-8">
            <th:block th:insert="~{layout/common :: nav}"></th:block>
            <div class="row">
                <!-- TODO error image or status code 출력 -->
            </div>
        </div>
    </div>
<th:block th:insert="~{layout/common :: copy}"></th:block>
</div>

<th:block th:insert="~{layout/common :: script}"></th:block>
</body>
</html>