<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="~{layout/common :: head}"></div>
    <title>Springboot Workshop Dashboard</title>
</head>
<body>
<div class="container-fluid">
    <div class="d-flex justify-content-center">
        <div class="col-sm-12 col-md-10 col-lg-8">
            <div th:insert="~{layout/common :: nav}"></div>
            <div class="row">
                <div class="col-12">
                    <div class="jumbotron">
                        <h1 class="display-4">Hello, world!</h1>
                        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                        <hr class="my-4">
                        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:insert="~{layout/common :: copy}"></div>
</div>

<div th:insert="~{layout/common :: script}"></div>
</body>
</html>