<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{layout/common :: head}"></th:block>
    <title>Please Login</title>
    <style>
    body {
      padding-top: 40px;
      padding-bottom: 40px;
      background-color: #eee;
    }
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="d-flex justify-content-center">
        <div class="col-sm-12 col-md-10 col-lg-8">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                    <form name="f" th:action="@{/login}" method="post">
                        <div class="row">
                            <div class="col-12 text-center">
                                <legend>Please Login</legend>
                            </div>
                        </div>
                        <!-- TODO username, password input -->
                        <!-- TODO 아이디 또는 비밀번호가 틀립니다. -->
                        <!-- TODO 로그아웃 되었습니다. -->
                        <div class="row">
                            <div class="col-12 text-right">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <th:block th:insert="~{layout/common :: copy}"></th:block>
</div>

<th:block th:insert="~{layout/common :: script}"></th:block>
</body>
</html>

